<p style="color: #aaaaaa; font-size:-8em">
    <a href="https://github.com/teonsystems/dmarc-dashboard">Powered</a>
    by
    <a href="http://www.teon.si/product/dmarc-dashboard">DMARC Dashboard</a>.
    &copy; 2015 - {{ "now"|date("Y") }} <a href="http://www.teon.si/">Teon d.o.o.</a>
</p>
