<script src="{{ asset('assets/highcharts/4.0.1/highcharts.js') }}"></script>
<script src="{{ asset('assets/highcharts/4.0.1/modules/exporting.js') }}"></script>

<script type="text/javascript">
    {{ chart(chart) }}
</script>

<div id="chart-public-overall" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
