{% extends 'base.html.twig' %}



{% block pagetitle %}My alignment{% endblock %}
{% block pagesubtitle %}Failures by domain{% endblock %}



{% block body %}



    {{
        include('dash/_tabs.html.twig', {
            'activeTab': 'overall',
        })
    }}



    <div class="row">



        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    {{
                        include('chart/_common.html.twig', {
                            'chart': chart,
                            'divId': divId,
                        })
                    }}
                </div>
            </div>
        </div>



    </div>




{% endblock %}
