{% extends 'base.html.twig' %}



{% block pagetitle %}Dashboard{% endblock %}



{% block body %}
    <br />
    <div class="row">



        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    {{
                        render(controller(
                            'DmarcDash:Stat:chartMonthlyTotals'
                        ))
                    }}
                </div>
            </div>
        </div>



    </div>




{% endblock %}
