{% extends 'base.html.twig' %}



{% block pagetitle %}Upload new DMARC reports{% endblock %}



{% block body %}



    <p>
        You may upload multiple reports at once, even the ones that were already processed.
        If already-processed report is encountered, it will be reported as an error, but
        report processing will continue. <b>Only 20 files can be uploaded at one time.</a>
    </p>



    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}



    <a class="btn btn-danger" href="{{ path('reports') }}">
        <span class="badge">&laquo;</span>
        Cancel
    </a>



{% endblock %}
